.send-request {
  margin-bottom: 16px;
  display: flex;

  span {
    margin-left: 8px;
  }

  & > div {
    width: 50%;
  }
}

.btn {
  margin-right: 6px;
  font-size: 24px;
}

.clickable {
  cursor: pointer;
}

.btn-mr {
  margin-right: 1rem;
}

.text-right {
  text-align: right;
}
