<div class="send-request">
  <div class="left-section">
    <button
      nz-button
      nzType="danger"
      [disabled]="setOfCheckedId.size === 0"
      [nzLoading]="loading"
      (click)="removeProducts()"
    >
      {{ "Remove Product" + (setOfCheckedId.size > 1 ? "s" : "") }}
    </button>
    <span>Selected {{ setOfCheckedId.size }} items</span>
  </div>
  <div class="right-section text-right">
    <button (click)="addProduct()" nz-button nzType="primary">
      <i nz-icon nzType="plus" nzTheme="outline"></i>
      Add
    </button>
  </div>
</div>
<nz-table
  #rowSelectionTable
  nzShowPagination
  nzShowSizeChanger
  [nzData]="listOfData"
  (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
>
  <thead>
    <tr>
      <th
        [nzChecked]="checked"
        [nzIndeterminate]="indeterminate"
        (nzCheckedChange)="onAllChecked($event)"
      ></th>
      <th>Name</th>
      <th>Description</th>
      <th>Quantity</th>
      <th>Expire Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of rowSelectionTable.data">
      <td
        [nzChecked]="setOfCheckedId.has(data.id)"
        (nzCheckedChange)="onItemChecked(data.id, $event)"
      ></td>
      <td>{{ data.name }}</td>
      <td>{{ data.description }}</td>
      <td>{{ data.quantity }}</td>
      <td>{{ data.expire_date | date }}</td>
      <td>
        <i
          class="clickable btn btn-mr"
          nz-icon
          (click)="editProduct(data)"
          nzType="edit"
          nzTheme="twotone"
        ></i>
        <i
          class="clickable btn"
          nz-icon
          (click)="remove(data.id)"
          nzType="delete"
          nzTheme="twotone"
          [nzTwotoneColor]="'red'"
        ></i>
      </td>
    </tr>
  </tbody>
</nz-table>
