<div class="send-request">
  <button
    nz-button
    nzType="danger"
    [disabled]="setOfCheckedId.size === 0"
    [nzLoading]="loading"
    (click)="removeProduct()"
  >
    Remove Product
  </button>
  <span>Selected {{ setOfCheckedId.size }} items</span>
</div>
<nz-table
  #rowSelectionTable
  nzShowPagination
  nzShowSizeChanger
  [nzData]="listOfData"
  (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
>
  <thead>
    <tr>
      <th
        [nzChecked]="checked"
        [nzIndeterminate]="indeterminate"
        (nzCheckedChange)="onAllChecked($event)"
      ></th>
      <th>Name</th>
      <th>Description</th>
      <th>Quantity</th>
      <th>Expire Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of rowSelectionTable.data">
      <td
        [nzChecked]="setOfCheckedId.has(data.id)"
        [nzDisabled]="data.disabled"
        (nzCheckedChange)="onItemChecked(data.id, $event)"
      ></td>
      <td>{{ data.name }}</td>
      <td>{{ data.description }}</td>
      <td>{{ data.quantity }}</td>
      <td>{{ data.expire_date | date }}</td>
      <td>
        <i class="clickable" nz-icon nzType="edit" nzTheme="twotone"></i>
        <i
          class="clickable"
          nz-icon
          nzType="delete"
          nzTheme="twotone"
          [nzTwotoneColor]="'red'"
        ></i>
      </td>
    </tr>
  </tbody>
</nz-table>
